<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Calculadora de Soma</title>
</head>
<body>
    <h1>Calculadora de Soma</h1>
    <form action="/resultado" method="post">
        <div>
            <label>Número 1:</label>
            <input type="text" name="numero1" required>
        </div>
        <div>
            <label>Número 2:</label>
            <input type="text" name="numero2" required>
        </div>

        <button type="submit">Calcular</button>
    </form>
</body>
</html>