<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Calculadora</title>
</head>
<body>
    <h1>Calculadora</h1>
    <h3>Insira os valores abaixo e escolha a operação que deseja realizar!</h3>
    <form action="/resultado" method="post">
        <div>
            <label>Número 1:</label>
            <input type="text" name="numero1" required>
        </div>
        <div>
            <label>Número 2:</label>
            <input type="text" name="numero2" required><br><br>
        </div>

        <div>
            <button type="submit" name="operacao" value="soma">Somar</button>
            <button type="submit" name="operacao" value="subtracao">Subtrair</button>
            <button type="submit" name="operacao" value="multiplicacao">Multiplicar</button>
            <button type="submit" name="operacao" value="divisao">Dividir</button>
        </div>
    </form>
</body>
</html>